{% extends "base.html" %} {% block content %}
<h1>GET FORM PAGE</h1>

<form method="GET" action="{% url 'task_submit' %}">
  <input type="text" id="name" name="name" required />
  <button type="submit">Vyhledat</button>
</form>

<form method="POST" action="{% url 'task2_submit' %}">
  {% csrf_token %}
  <label for="name">Jmeno:</label>
  <input type="text" id="name" name="name" required />
  <label for="name">Email:</label>
  <input type="text" id="email" name="email" required />
  <label for="name">Heslo:</label>
  <input type="password" id="password" name="password" required />
  <button type="submit">Vytvořit!</button>
</form>

{% endblock %}
